<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapperNS">

	<select id="selectBoardList" resultType="boardModel">
		
		select boardNum,memNum,boardid,subject,writer,passwd,content,fname,fsize,readcount
		,regdate,ref,reStep,reLevel from board
	</select>
	
	<insert id="insertBoard"  parameterType="boardModel" >
		insert
		into board values
		(boardSeq.NEXTVAL,#{memNum},'1'
		,#{subject},#{writer},#{passwd},#{content},
		#{fname},#{fsize},
		#{readcount},sysdate,
		#{ref},#{reStep},#{reLevel})
	</insert>

	<update id="updateBoard" parameterType="boardModel">
		update
		board
		set
		writer=#{writer},
		subject=#{subject},
		passwd=#{passwd},
		content=#{content}
		where
		boardNum=#{boardNum}
	</update>

	<select parameterType="boardModel" id="deleteBoard"> 
	delete from board where boardNum
		=#{boardNum} 
		</select>
		
	<select id="selectBoard" parameterType="boardModel"
		resultType="boardModel">
		select
		* from board
		where
		boardNum = #{boardNum}

	</select>

<select id="selectPasswdOneNum" resultType="boardModel" parameterType="boardModel">
		select 
			passwd 
		from 
			board 
		where 
			boardNum = #{boardNum}
	</select>
	<!-- <select id="selectBoardCount" parameterType="boardModel"
		resultType="boardModel">
		select
		nvl(count(*),0) from board where boardid =
		#{boardid}
	</select>


	<select id="selectMaxBoardNum" resultType="int">
		select
		nvl(max(boardNum),0) from
		board
	</select>

	<update id="updateReStep" parameterType="boardModel">
		update
		board
		set
		reStep=reStep+1
		where
		ref= #{ref} and reStep> #{reStep}
	</update>


	<select id="selectOneBoardNum" parameterType="boardModel"
		resultType="boardModel">
		select
		*
		from
		board
		where
		boardNum = #{boardNum}
	</select>

	<update id="updateReadcount" parameterType="boardModel">
		update
		board
		set
		readcount=readcount+1
		where
		num = #{num}
	</update> -->


	

</mapper>

