<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="FestReviewMapperNS">
  	<insert id="insertFestReview" parameterType="festReviewModel">
  		Insert into festReview(frNum,festNum,memNum,star,fReview)	
  		values(
	  		festReviewSeq.NEXTVAL,
	  		#{festNum},
	  		#{memNum},
	  		#{star},
	  		#{fReview}
  		)
  	</insert>
  	
  	<select id="selectFestReviewList" resultType="festReviewModel">
    	select
    		*
    	from
    		festReview
    </select>
    
    <select id="selectFestReviewWithMemNum" parameterType="festReviewModel" resultType="festReviewModel">
    	select
    		*
    	from
    		festReview
    	where
    		memNum=#{memNum}
    </select>
  	
  	<update id="updateFestReview" parameterType="festReviewModel">
    	update festReview set
    		star = #{star},
    		fReview = #{fReview}
    	where
    		memNum = #{memNum},
    		festNum = #{festNum}
    </update>
</mapper>