<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="memberMapperNS">
  <insert id="insertMember" parameterType="memberModel">
    	Insert Into member(memnum,id,passwd,name,jumin,address,phone,email,regdate,status,tokken)
    	values(
    		memberSeq.NEXTVAL,
    		#{id},
    		#{passwd},
    		#{name},
    		#{jumin},
    		#{address},
    		#{phone},
    		#{email},
    		sysdate,
    		#{status},
    		#{tokken}
    	)
    </insert>
  <!--  <select id="selectTest" parameterType="testVO" resultType="testVO">
    	select
    		*
    	from
    		test
    	where
    		num = #{num}
    </select> -->
    <select id="selectMemberList" resultType="memberModel">
    	select
    		*
    	from
    		member
    </select>
    <select id="selectMemberListPaging" parameterType="hashmap" resultType="memberModel">
    	select *  from
    		(select rownum rnum,a.* from
    			(select 
    				* 
    			from 
    				member
    			order by memnum desc) a
    		)
    		where rnum between #{start} and #{end}
    	
    </select>
     <select id="selectMemberWithId" parameterType="memberModel" resultType="memberModel">
    	select
    		*
    	from
    		member
    	where
    		id = #{id}
    </select>
     <select id="selectMemberWithEmail" parameterType="memberModel" resultType="memberModel">
    	select
    		*
    	from
    		member
    	where
    		email = #{email}
    </select>
     <select id="selectMemberWithMemNum" parameterType="memberModel" resultType="memberModel">
    	select
    		*
    	from
    		member
    	where
    		memnum=#{memnum}
    </select>
    <select id="selectMemberbetweenDate" parameterType="hashmap" resultType="memberModel">
    	select
    		*
    	from
    		member
    	where
    		regdate between #{start} and #{end}
    </select>
	<update id="updateMember" parameterType="memberModel">
		update member set
    		id = #{id},
    		passwd = #{passwd},
    		name = #{name},
    		jumin = #{jumin},
    		address = #{address},
    		phone = #{phone},
    		email = #{email}
    	where
    		memnum = #{memnum}   
		   
	</update>
	<update id="updateMemberTokken" parameterType="memberModel">
		update member set
    		tokken = #{tokken}
    	where
    		memnum = #{memnum}   
		   
	</update>
    
     <delete id="deleteMember" parameterType="memberModel">
    	delete
    		from member
    	where
    		memnum = #{memnum}
    </delete>
                                                                                 
    <!-- <update id="updateTest" parameterType="testVO">
    	update test set
    		name = #{name}
    	where
    		num = #{num}
    </update> -->
     
</mapper>